.input-container {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 8fr 3fr;

    &-box {
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .input-container {
        display: flex;
        flex-direction: column;

        &-box {
            margin-left: 0;
        }
    }
}