.calcium-container {
  max-width: 700px;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .custom-input, .custom-select {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 15px;
    color: #243178;
  }
  
  .custom-select {
    width: 160px;
    height: 46px;
  }
  
  .custom-input {
    max-width: 40px; 
    height: 25px;
    box-sizing: content-box;
  }
  
  .custom-input:focus, .custom-input:hover,
  .custom-select:focus, .custom-select:hover {
      outline: none !important;
      border-color: #44a1df;
  }
  
  .error {
    visibility: visible;
    border: solid 1px rgb(119, 7, 7);
    background: rgba(204, 46, 46, 0.11);
    color: #770707;
  }

  .button {
    padding: 12px 18px;
    display: inline-block;
    opacity: 1;
    text-align: center;
    color: #fff;
    background: #243178;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .button:hover {
    background: #44a1df;
  }
  
  .title {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0;
    line-height: 1.2;
  }
  
  @media (max-width:800px) {
    .container {
      max-width: 90%;
    }
  }
  
  @media (max-width:600px) {
    .custom-select {
      width: 120px;
    }
  
    .custom-input {
      max-width: 30px; 
    }

  }
  
  @media (max-width:450px) {
    .custom-input, .custom-select {
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .custom-input {
      height: 20px;
    }
  
    .custom-select {
      height: 32px;
    }
  
    .title {
      font-size: 20px !important; 
    }
  }
  
  @media (max-width:345px) {
    .custom-select {
      width: 100px;
    }
  
    .custom-input {
      max-width: 24px; 
      height: 26px;
    }
  
    .custom-input, .custom-select {
      padding: 2px 5px;
    }  
  }

}